{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="carousel">
    <img src="{% static 'images/slaid1.jpg' %}" alt="Слайд 1">
    <img src="{% static 'images/slaid2.jpeg' %}" alt="Слайд 2">
    <img src="{% static 'images/slaid3.jpeg' %}" alt="Слайд 3">
</div>

<div class="additional-text">
    <p>Добро пожаловать на сайт Министерства науки и высшего образования Российской Федерации, разработанного при поддержке Госуслуг</p>
</div>

<div>
    <p> Здесь вы найдете актуальную информацию о направлениях деятельности министерства, возможностях для развития науки и образования, а также удобные сервисы для подачи заявлений и получения государственных услуг.
    </p>
    <p> Мы стремимся сделать процесс взаимодействия с государственными органами максимально простым и доступным. Наши специалисты всегда готовы помочь вам в решении вопросов, связанных с высшим образованием, научными исследованиями и профессиональным ростом.
    </p>
    <p> Воспользуйтесь личным кабинетом для подачи заявлений, проверки статуса и получения необходимых документов. Мы ценим ваше время и стараемся сделать каждый шаг максимально удобным.
    </p>
    <p> Спасибо, что выбрали нас. Мы всегда рады видеть вас на нашем сайте!
    </p>
    <h2>Мы на карте</h2>
</div>

<div class="map">
    <iframe src="https://yandex.ru/map-widget/v1/?ll=37.609811%2C55.760560&z=16&l=map&pt=37.609811,55.760560,pm2dgl" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% endblock %}